<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="">
</head>
<body>
        <div class="w-full min-h-screen bg-zinc-900 text-white  p-10 " >
            <h3>Created Account </h3> 
            <form autocomplete="off" action="/upload" method="post" enctype="multipart/form-data" >
                <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-700 " type="file" placeholder="choose file"  name="images" >
                <input class="bg-blue-500 px-3 py-2 rounded-md "  type="submit" value="upload file " >
            </form>
        </div>
</body>
</html>